<!DOCTYPE html>
<html lang="en" {{#if flippyUI.direction}} dir="{{flippyUI.direction}}" {{/if}}>
    {{> dochead}}
    <body id="home">
	    <header>
		    <figure>
			    <img alt="Blizzard" src="./img/banner.png">
			    <figcaption></figcaption>
		    </figure>
	    </header>
	    <aside>
		    <menu>
			    <section>
				    <details>
					    <summary>
						    Demo
					    </summary>
				    </details>
				    <nav>
					    <ul>
						    <li>
							    <a href="http://www.flippydisk.com/pnote/" target="_blank">Live Demo</a>
						    </li>
						    <li>
							    <a href="./?flippy:debug=PNote">Debug mode</a>
						    </li>
						    <li>
							    <a href="./tests.html" target="_blank">Jasmine Tests</a>
						    </li>
						    <li>
							    <a href="./jsdoc/" target="_blank">JSDoc</a>
						    </li>
					    </ul>
				    </nav>
			    </section>
			    <section>
				    <details>
					    <summary>
						    Services
					    </summary>
				    </details>
				    <nav>
					    <ul>
						    <li>
							    <a href="https://github.com/Psykoral/pnote" target="_blank">Github</a>
						    </li>
						    <li>
							    <a href="https://github.com/Psykoral/grunt-starter-kit/blob/master/CONTRIBUTING.md" target="_blank">Contributing info</a>
						    </li>
						    <li>
							    <a href="https://github.com/Psykoral/grunt-starter-kit" target="_blank">Grunt Starer Kit</a>
						    </li>
						    <li>
							    <a href="http://build.flippydisk.com/" target="_blank">Jenkins</a>
						    </li>
					    </ul>
				    </nav>
			    </section>
		    </menu>
		    <main>
			    {{> body}}
		    </main>
	    </aside>
        {{{js scripts}}}
    </body>
</html>
