---
title: grunt-starter-kit
layout: default.hbs
---
<section>
	<details>
		<summary>
			Prefix notation from flippyUI.json
		</summary>
	</details>
	<article>
		<ul>
			{{#each flippyUI.pnote}}
				<li>
					<button value="{{.}}" data-seed-pnote>{{.}}</button>
				</li>
			{{/each}}
		</ul>
	</article>
</section>
