---
title: grunt-starter-kit
layout: default.hbs
---
<section>
	<details>
		<summary>
			Prefix notation from flippyUI.json
		</summary>
	</details>
	<article>
		<ul>
			{{#each flippyUI.pnote}}
				<li>
					<button value="{{.}}" data-seed-pnote>{{.}}</button>
				</li>
			{{/each}}
		</ul>
	</article>
</section>
<section>
	<details>
		<summary>
			Reverse a string
		</summary>
	</details>
	<article>
		<p>
			<input value="" placeholder="Enter a value"> <button data-seed-reverse>Reverse it</button>
		</p>
		<p>
			Take in the string, split it into an array at "every character", reverse it, then join it back into a string.
		</p>
		<code>
			str.split('').reverse().join('');
		</code>
	</article>
</section>
